{% extends 'base.html' %}

{% block title %}Create A New Post{% endblock title %}

{% load static %}

{% block content %}

<link href="/static/djangoproject/css/style.css" rel="stylesheet">

{% if user.is_authenticated %}

<h1 class="head">Create Post</h1>
<div class="ap_container">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-lg btn-outline-success">Post</button>
</form>
</div>

<script>
    var name = "{{ user.id }}";
    document.getElementById("lins").value = name;
</script>

{% else %}

<div class="alert alert-danger" role="alert">
    <h4 class="msginfo">You are not allowed here!</h4>
</div>

{% endif %}

{% endblock content %}