{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>
    {% block title %}My Blog{% endblock title %}
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/static/djangoproject/css/style.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand-sm navbar navbar-light" style="background-color: #d67e7e;">
    <a class="navbar-brand" href="{% url 'index' %}">My Blog</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        {% if cat_menu %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">

            {% for item in cat_menu %}

            <a class="dropdown-item" href="{% url 'category' item %}">{{ item }}</a>

            {% endfor %}

          </div>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'category-list' %}">Category-List</a>
        </li>

        {% endif %}

        {% if user.is_authenticated %}

        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addpost' %}">Add Post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'addcategory' %}">Add Category</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'addpost' %}"> Create Post</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'addcategory' %}">Add Category</a>
        </li> -->
        {% endif %}
        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Create an Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>

        {% endif %}

      </ul>

      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {% if user.profile.profile_pic %}
            <img src="{{ user.profile.profile_pic.url }}" class="rounded-circle" width="30" height="30">
            {% else %}
            <img src="{% static 'djangoproject/images/pic.png' %}" class="rounded-circle" width="30" height="30">
            {% endif %}
            {{ user.first_name }} {{ user.last_name }}
          </a>

          {% if request.user.is_superuser %}

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'editprofile' %}"><i class="fa fa-cog" aria-hidden="true"></i> Edit
              Settings</a>

            {% if user.profile.id %}

            <a class="dropdown-item" href="{% url 'editprofilepage' user.profile.id %}"><i class="fa fa-pencil"
                aria-hidden="true"></i> Edit Profile Page</a>
            <a class="dropdown-item" href="{% url 'showprofile' user.profile.id %}"><i class="fa fa-file-text"
                aria-hidden="true"></i> Show Profile Page</a>

            {% else %}

            <a class="dropdown-item" href="{% url 'createprofilepage' %}"><i class="fa fa-plus" aria-hidden="true"></i>
              Create Profile Page</a>

            {% endif %}

            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout</a>

          </div>

          {% else %}

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'editprofilestaff' %}"><i class="fa fa-cog" aria-hidden="true"></i>
              Edit Settings</a>

            {% if user.profile.id %}

            <a class="dropdown-item" href="{% url 'editprofilepage' user.profile.id %}"><i class="fa fa-pencil"
                aria-hidden="true"></i> Edit Profile Page</a>
            <a class="dropdown-item" href="{% url 'showprofile' user.profile.id %}"><i class="fa fa-file-text"
                aria-hidden="true"></i> Show Profile Page</a>

            {% else %}

            <a class="dropdown-item" href="{% url 'createprofilepage' %}"><i class="fa fa-plus" aria-hidden="true"></i>
              Create Profile Page</a>

            {% endif %}

            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout</a>

          </div>

          {% endif %}

        </li>
        {% endif %}

    </div>
  </nav>
  <div class="container mt-5">

    {% block content %}

    {% endblock content %}

  </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>