<!doctype html>
<html lang="en">
  <head>
    <title>My Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/djangoproject/css/style.css" rel="stylesheet"> 
  </head>
  <body class="imgfull">
    <div class="text-center">
      <h1 style="font-size: 75px; letter-spacing: 2px; font-weight: 300; font-style: italic; font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 2cm; margin-top: 5cm; color:rgb(11, 220, 235);">Feel the blogging experience to <br> your unique and dynamic blog</h1>
    <a href="{% url 'home' %}" class="btn btn-primary btn-lg btn-outline-light">Create Your Blog &rarr;</a>
    </div>
  </body>
  </body>
</html>