{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="head">User Profile</h1>
<div class="ap_container">
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
  
        {% if page_user.profile_pic %}

        <img src="{{ page_user.profile_pic.url }}" class="card-img rounded" width="0" height="180">
  
        {% else %}
  
        <img src="{% static '/images/download.png' %}" class="card-img rounded-circle" width="0" height="180">
  
        {% endif %}
  
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
          <p class="small text-muted">
  
            {% if page_user.website_url %}
            <a href="{{ page_user.website_url }}">Website</a> |
            {% endif %}
  
            {% if page_user.facebook_url %}
            <a href="{{ page_user.facebook_url }}">Facebook</a> |
            {% endif %}
  
            {% if page_user.twitter_url %}
            <a href="{{ page_user.twitter_url }}">Twitter</a> |
            {% endif %}
  
            {% if page_user.instagram_url %}
            <a href="{{ page_user.instagram_url }}">Instagram</a>
            {% endif %}
  
          </p>
          <p class="card-text">{{ page_user.bio}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  {% else %}

  <div class="alert alert-danger" role="alert">
    <h4 class="msginfo">Sorry! You are not allowed here!</h4>
  </div>
  
  {% endif %}
{% endblock content %}